@media only screen and (max-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Opensans", sans-serif;
    background-color: white;
    padding-left: 50px;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
  }
  .image-wrapper {
    width: 0%; /* Set the desired width for the image wrapper */
    height: 0%; /* Set the desired height for the image wrapper */
  }
  .login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
  .welcome-text {
    font-size: 40px;
    font-weight: bold;
    color: #23342c;
    margin-bottom: 40px;
    align-self: center;
    justify-content: center;
  }
  .login-button-container {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 45px;
    background-color: #23342c;
    border-radius: 100px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
  }

  .login-button-text {
    align-self: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
  }
}

@media only screen and (min-width: 769px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Opensans", sans-serif;
    background-color: white;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
  }

  .login-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  .welcome-text {
    font-size: 64px;
    font-weight: bold;
    color: #23342c;
    margin-bottom: 40px;
    align-self: center;
    margin-left: 100px;
  }

  .login-button-container {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 45px;
    background-color: #23342c;
    border-radius: 100px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .login-button-text {
    align-self: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
  }

  .image-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #23342c;
  }

  .image-wrapper {
    width: 40%; /* Set the desired width for the image wrapper */
    height: 40%; /* Set the desired height for the image wrapper */
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
  }
}
